.fil_options{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.fil_options > span {
    border: 2px solid orange;
    padding: 5px 10px;
    border-radius: 5px;
}

.fil_options > span:hover {
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
    background-color: orange;
    cursor: pointer;
}